Install neccessary packages

In [47]:
%pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\stehayes\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\stehayes\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from pyarrow) (1.23.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from urllib import request as rq
import pandas as pd
import os
import pyarrow as pa # this is needed for the parquet file
import numpy as np
import ipywidgets
from ipywidgets import widgets
from ipywidgets import interact, interactive, fixed, VBox
import scipy.stats as stats
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder

Download the Dublin Bus data from https://data.gov.ie/organization/dublin-city-council?tags=Transport+and+Infrastructure

Use a generator to load the data into pandas data frame https://pandasninja.com/2019/04/how-to-read-lots-of-csv-files-easily-into-pandas/#:~:text=How%20to%20read%20lots%20of%20csv%20files%20easily,need%20...%204%204.%20Leverage%20regular%20expressions%20

In [4]:
# Function to load the Dublin bus gz files 
def load_Files(files, comtype):
    columns = ['Timestamp', 'LineID', 'Direction', 'JourneyPatternID', 'TimeFrame', 'VehicleJourneyID', 'Operator', 'Congestion', 'LonWGS84', 'LatWGS84', 'Delay', 'BlockID', 'VehicleID', 'StopID', 'AtStop']
    for f in files:
        print(f)
        yield pd.read_csv('./Data/Bus/Gz/' + f, compression=comtype, delimiter=',', header=0, names=columns, parse_dates=True, low_memory=True)

def crackit_open(busFile):
    import zipfile as zip
    # Zip creates its own folders - no need to check for folder existence
    with zip.ZipFile(busFile,  mode='r') as arc: 
        arc.extractall('./Data/Bus/Gz/')  
    files = os.listdir('./Data/Bus/Gz/')
    DBfiles = [f for f in files if f.endswith('.gz')]
    df = pd.concat(load_Files(DBfiles, 'gzip'), copy = False)
    return df
# Check parquet file existence before downloading - iof starting from afresh this takes a long time
if os.path.exists('./Data/Bus/CleanedBusData.parquet'):
    print("Parquest file exists, means the Bus data has been downloaded already ")
    df = pd.read_parquet('./Data/Bus/CleanedBusData.parquet')
elif os.path.exists('./Zips/Bus/DublinBusdata.zip'):
    print("Zip file exists, we have already downloaded the Dublin Bus Zip data, crack it open")
    df = crackit_open('./Zips/Bus/DublinBusdata.zip')
else:
    os.makedirs('./Zips/Bus/', exist_ok = True)
    url = "https://opendata.dublincity.ie/TrafficOpenData/sir010113-310113.zip"
    busFile = rq.urlretrieve(url, './Zips/Bus/DublinBusdata.zip' )  
    df = crackit_open('./Zips/Bus/DublinBusdata.zip')

Parquest file exists, means the Bus data has been downloaded already

In [50]:
ColumnsToExclude = ('JourneyPatternID', 'StopID')

# Data is loaded - now needs to be cleaned, there is an argument to be made to include this in the above cell 
# but I have added it here so that I can add more columns to be excluded as I go rather than load the raw data each time
for c in ColumnsToExclude:
    if c in df.columns:  # type: ignore
        df = df.drop(c, axis=1)  # type: ignore
    else:
        print('Columns already dropped')

Columns already dropped

In [9]:
df.head()

,Timestamp,LineID,Direction,TimeFrame,VehicleJourneyID,Operator,Congestion,LonWGS84,LatWGS84,Delay,BlockID,VehicleID,AtStop,datetime,Time,Day,Hour,Minute
0,1356998405000000,27.0,0,2012-12-31,3883,RD,0,-6.233417,53.342232,0,27017,33521,0,2013-01-01 00:00:05,00:00:05,1,0,0
1,1356998407000000,40.0,0,2012-12-31,2226,HN,0,-6.278250,53.416683,0,40206,33142,0,2013-01-01 00:00:07,00:00:07,1,0,0
2,1356998407000000,7.0,0,2012-12-31,6106,D1,0,-6.231633,53.317768,0,7019,43004,1,2013-01-01 00:00:07,00:00:07,1,0,0
3,1356998411000000,747.0,0,2012-12-31,3531,SL,0,-6.254617,53.355484,-454,747007,40039,0,2013-01-01 00:00:11,00:00:11,1,0,0
4,1356998411000000,56.0,0,2012-12-31,1830,RD,0,-6.233183,53.342201,0,56001,33488,0,2013-01-01 00:00:11,00:00:11,1,0,0

In [8]:
# Deal with the timestamp and make it human readable
df['datetime'] = pd.to_datetime(df['Timestamp'], unit='us')
df['Time'] = df['datetime'].dt.time
df['Day'] = df['datetime'].dt.day
df['Hour'] = df['datetime'].dt.hour
df['Minute'] = df['datetime'].dt.minute

In [53]:
print(df.head())
print(df.Time)

          Timestamp  LineID  Direction   TimeFrame  VehicleJourneyID Operator  \
0  1356998405000000    27.0          0  2012-12-31              3883       RD
1  1356998407000000    40.0          0  2012-12-31              2226       HN
2  1356998407000000     7.0          0  2012-12-31              6106       D1
3  1356998411000000   747.0          0  2012-12-31              3531       SL
4  1356998411000000    56.0          0  2012-12-31              1830       RD

   Congestion  LonWGS84   LatWGS84  Delay  BlockID  VehicleID  AtStop  \
0           0 -6.233417  53.342232      0    27017      33521       0
1           0 -6.278250  53.416683      0    40206      33142       0
2           0 -6.231633  53.317768      0     7019      43004       1
3           0 -6.254617  53.355484   -454   747007      40039       0
4           0 -6.233183  53.342201      0    56001      33488       0

             datetime      Time
0 2013-01-01 00:00:05  00:00:05
1 2013-01-01 00:00:07  00:00:07
2 2013-01-01 00:00:07  00:00:07
3 2013-01-01 00:00:11  00:00:11
4 2013-01-01 00:00:11  00:00:11
0         00:00:05
1         00:00:07
2         00:00:07
3         00:00:11
4         00:00:11
            ...
603915    11:44:54
603916    11:44:54
603917    11:44:54
603918    11:44:54
603919    11:44:54
Name: Time, Length: 44455102, dtype: object

In [54]:
print ('The data has {} Rows and {} columns'.format(df.shape[0],df.shape[1]))
print("The types of columns are:")
df.dtypes

The data has 44455102 Rows and 15 columns
The types of columns are:

Timestamp                    int64
LineID                     float64
Direction                    int64
TimeFrame                   object
VehicleJourneyID             int64
Operator                    object
Congestion                   int64
LonWGS84                   float64
LatWGS84                   float64
Delay                        int64
BlockID                      int64
VehicleID                    int64
AtStop                       int64
datetime            datetime64[ns]
Time                        object
dtype: object

In [55]:
# Getting the list of column Types
CategoricalColumns = list(set(['LineID', 'Direction', 'TimeFrame', 'VehicleJourneyID', 'Operator', 'Congestion',  'Delay', 'BlockID', 'VehicleID', 'StopID', 'AtStop']))
NumericalColumns = list(set(list(df.select_dtypes([np.number]).columns)))
#objectTypeColumns = list(set(list(df.select_dtypes([np.object_]).columns)))
DateColumns = list(set(list(df.select_dtypes([np.datetime64]).columns)))


#print(objectTypeColumns)


CategoricalColumns = list(set(CategoricalColumns) - set(ColumnsToExclude)-set(DateColumns))
NumericalColumns = list(set(NumericalColumns)-set(ColumnsToExclude)-set(DateColumns))

print(CategoricalColumns)
print(NumericalColumns)
print(DateColumns)

['BlockID', 'Delay', 'AtStop', 'LineID', 'VehicleID', 'VehicleJourneyID', 'TimeFrame', 'Direction', 'Operator', 'Congestion']
['BlockID', 'Delay', 'AtStop', 'LineID', 'Timestamp', 'VehicleID', 'VehicleJourneyID', 'LatWGS84', 'Direction', 'Congestion', 'LonWGS84']
['datetime']

In [56]:
def num_missing(x):
    return len(x.index)-x.count()

def num_unique(x):
    return len(np.unique(x))

temp_df = df.describe().T
missing_df = pd.DataFrame(df.apply(num_missing, axis=0)) 
missing_df.columns = ['missing']  # type: ignore
unq_df = pd.DataFrame(df.apply(num_unique, axis=0))
unq_df.columns = ['unique']  # type: ignore
types_df = pd.DataFrame(df.dtypes)
types_df.columns = ['DataType'] # type: ignore

In [57]:
df.describe()

,Timestamp,LineID,Direction,VehicleJourneyID,Congestion,LonWGS84,LatWGS84,Delay,BlockID,VehicleID,AtStop
count,4.445510e+07,4.445304e+07,44455102.0,4.445510e+07,4.445510e+07,4.445510e+07,4.445510e+07,4.445510e+07,4.445510e+07,4.445510e+07,4.445510e+07
mean,1.358318e+15,7.796879e+01,0.0,9.417122e+03,1.163261e-02,-6.272803e+00,5.334513e+01,-2.816513e+01,1.092438e+05,3.542925e+04,2.335773e-01
std,7.394928e+11,1.146419e+02,0.0,6.159844e+04,1.072254e-01,8.389025e-02,5.488354e-02,4.729678e+02,1.921244e+05,3.281093e+03,4.231063e-01
min,1.356998e+15,1.000000e+00,0.0,1.000000e+00,0.000000e+00,-6.617517e+00,5.306802e+01,-1.504500e+04,3.900000e+02,2.804700e+04,0.000000e+00
25%,1.357679e+15,2.500000e+01,0.0,2.536000e+03,0.000000e+00,-6.308650e+00,5.332005e+01,-2.090000e+02,1.602000e+04,3.330800e+04,0.000000e+00
50%,1.358327e+15,4.000000e+01,0.0,4.718000e+03,0.000000e+00,-6.261600e+00,5.334645e+01,0.000000e+00,4.020500e+04,3.352500e+04,0.000000e+00
75%,1.358955e+15,8.300000e+01,0.0,6.769000e+03,0.000000e+00,-6.233166e+00,5.337533e+01,1.040000e+02,8.400400e+04,3.802500e+04,0.000000e+00
max,1.359633e+15,7.470000e+02,0.0,9.998560e+05,1.000000e+00,-6.052917e+00,5.360873e+01,1.161220e+05,8.350020e+05,4.307800e+04,1.000000e+00

In [58]:
summary_df = temp_df.join(missing_df).join(unq_df).join(types_df)
print(summary_df)

,count,mean,std,min,25%,50%,75%,max,missing,unique,DataType
Timestamp,44455102.0,1.358318e+15,7.394928e+11,1.356998e+15,1.357679e+15,1.358327e+15,1.358955e+15,1.359633e+15,0,813103,int64
LineID,44453044.0,7.796879e+01,1.146419e+02,1.000000e+00,2.500000e+01,4.000000e+01,8.300000e+01,7.470000e+02,2058,67,float64
Direction,44455102.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0,1,int64
VehicleJourneyID,44455102.0,9.417122e+03,6.159844e+04,1.000000e+00,2.536000e+03,4.718000e+03,6.769000e+03,9.998560e+05,0,18614,int64
Congestion,44455102.0,1.163261e-02,1.072254e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0,2,int64
LonWGS84,44455102.0,-6.272803e+00,8.389025e-02,-6.617517e+00,-6.308650e+00,-6.261600e+00,-6.233166e+00,-6.052917e+00,0,456755,float64
LatWGS84,44455102.0,5.334513e+01,5.488354e-02,5.306802e+01,5.332005e+01,5.334645e+01,5.337533e+01,5.360873e+01,0,131327,float64
Delay,44455102.0,-2.816513e+01,4.729678e+02,-1.504500e+04,-2.090000e+02,0.000000e+00,1.040000e+02,1.161220e+05,0,12638,int64
BlockID,44455102.0,1.092438e+05,1.921244e+05,3.900000e+02,1.602000e+04,4.020500e+04,8.400400e+04,8.350020e+05,0,1238,int64
VehicleID,44455102.0,3.542925e+04,3.281093e+03,2.804700e+04,3.330800e+04,3.352500e+04,3.802500e+04,4.307800e+04,0,911,int64
AtStop,44455102.0,2.335773e-01,4.231063e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0,2,int64

In [59]:
col_names = list(types_df.index)
num_cols = len(col_names)
index = range(num_cols)
cat_index = []
for i in index:
    if col_names[i] in CategoricalColumns:
        cat_index.append(i)
summary_df_cat = missing_df.join(unq_df).join(types_df.iloc[cat_index], how='inner') #Only summarize categorical columns
print(summary_df_cat)

                  missing  unique DataType
LineID               2058      67  float64
Direction               0       1    int64
TimeFrame               0      32   object
VehicleJourneyID        0   18614    int64
Operator                0       8   object
Congestion              0       2    int64
Delay                   0   12638    int64
BlockID                 0    1238    int64
VehicleID               0     911    int64
AtStop                  0       2    int64

In [60]:
df.to_parquet('./Data/Bus/CleanedBusData.parquet')

Download the weather station details https://cli.fusio.net/cli/climate_data/webdata/StationDetails.csv

In [61]:
url = 'https://cli.fusio.net/cli/climate_data/webdata/StationDetails.csv'

Load the weather statio details for Dublin

In [62]:
weatherStations = pd.read_csv(url)
weatherStations = weatherStations[weatherStations['county'].str.contains('Dublin')]
weatherStations.head(10)

,county,station name,name,height(m),easting,northing,latitude,longitude,open year,close year
575,Dublin,10323,STILLORGAN (FARMLEIGH),67,320514,227230,53.28194,-6.19389,1915,1935
576,Dublin,10123,DUBLIN (FITZWILLIAM SQUARE),16,316404,233098,53.33556,-6.25333,1908,1937
577,Dublin,10223,ROYAL BOTANIC GARDENS (GLASNEVIN,17,315083,237179,53.37250,-6.27167,1880,1925
578,Dublin,1223,BELGARD CASTLE,125,307400,229300,53.30278,-6.38889,1914,1963
579,Dublin,632,LUSK G.S.,23,321700,254300,53.52500,-6.16528,1949,2012
580,Dublin,1232,KINSALEY (AGR.RES.STN.),19,321500,242900,53.42222,-6.17222,1961,2004
581,Dublin,2523,DUBLIN (Ringsend),7,318900,233900,53.34167,-6.21389,1911,(null)
582,Dublin,2623,HOWTH CASTLE,11,327900,239000,53.38611,-6.07778,1913,1971
583,Dublin,2723,STILLORGAN (VARTRY HSE.),80,320200,226800,53.27778,-6.19722,1915,1999
584,Dublin,2732,ARDGILLAN,62,321791,261102,53.58583,-6.16167,1894,1938

In [63]:

#sns.pairplot(df.sample(frac=0.3, replace=False))

In [64]:
dublinStations = weatherStations[["station name", "name"]]

temp_df = dublinStations.describe().T
missing_df = pd.DataFrame(dublinStations.apply(num_missing, axis=0)) 
missing_df.columns = ['missing']  # type: ignore
unq_df = pd.DataFrame(dublinStations.apply(num_unique, axis=0))
unq_df.columns = ['unique']  # type: ignore
types_df = pd.DataFrame(dublinStations.dtypes)
types_df.columns = ['DataType']  # type: ignore
summary_df = temp_df.join(missing_df).join(unq_df).join(types_df)
print(summary_df)

,count,mean,std,min,25%,50%,75%,max,missing,unique,DataType
station name,94.0,4237.542553,3086.169009,124.0,1554.75,3473.5,6773.0,10323.0,0,94,int64

In [65]:
col_names = list(types_df.index)
num_cols = len(col_names)
index = range(num_cols)
cat_index = []
for i in index:
    if col_names[i] in dublinStations[["name"]]:
        cat_index.append(i)
summary_df_cat = missing_df.join(unq_df).join(types_df.iloc[cat_index], how='inner') #Only summarize categorical columns
print(summary_df_cat)  # there are 2 stations named DUBLIN (Glasnevin)

      missing  unique DataType
name        0      93   object

In [103]:
list(types_df.index)

['station name', 'name']

In [89]:
dublinStations.columns = [x.strip().replace(' ', '') for x in dublinStations.columns]
dublinStations.describe

<bound method NDFrame.describe of      stationname                              name
575        10323            STILLORGAN (FARMLEIGH)
576        10123       DUBLIN (FITZWILLIAM SQUARE)
577        10223  ROYAL BOTANIC GARDENS (GLASNEVIN
578         1223                    BELGARD CASTLE
579          632                         LUSK G.S.
..           ...                               ...
664         9623       KNOCKLYON (ST.COLUMCILLE'S)
665         9723                 Dublin-Navan_Road
666          623                           BRITTAS
667         9823           DUBLIN (MERRION SQUARE)
668         2423                 DUBLIN (CLONTARF)

[94 rows x 2 columns]>

In [102]:
from symbol import try_stmt


for rows in dublinStations.itertuples():
    # get hourly weather data
    url = "http://cli.fusio.net/cli/climate_data/webdata/hly" + str(rows.stationname) + ".zip"
    print(url)
    dest = './Zips/MetEirrean/hly' + str(rows.stationname) + ".zip"
    try:
        weatherFile = rq.urlretrieve(url, dest)
        continue
    except Exception:
        print('No file exists')  
    # get the daily weather data
    url = "http://cli.fusio.net/cli/climate_data/webdata/dly" + str(rows.stationname) + ".zip"
    print(url)
    dest = './Zips/MetEirrean/dly' + str(rows.stationname) + ".zip"
    try:
        weatherFile = rq.urlretrieve(url, dest)
        continue
    except Exception:
        print('No file exists')

http://cli.fusio.net/cli/climate_data/webdata/hly10323.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly10323.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly10123.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly10123.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly10223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly10223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly632.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly632.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1232.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1232.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2523.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2523.zip
http://cli.fusio.net/cli/climate_data/webdata/hly2623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2732.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2732.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1323.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1323.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1332.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1332.zip
http://cli.fusio.net/cli/climate_data/webdata/hly2832.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2832.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2923.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2923.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly232.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly232.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly3023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly3023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1423.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1423.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly732.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly732.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly3423.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly3423.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1523.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1523.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly3524.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly3524.zip
http://cli.fusio.net/cli/climate_data/webdata/hly1532.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1532.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly432.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly432.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly3723.zip
http://cli.fusio.net/cli/climate_data/webdata/hly823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1624.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1624.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly3923.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly3923.zip
http://cli.fusio.net/cli/climate_data/webdata/hly4023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly4023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly150.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly150.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly832.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly832.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly4123.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly4123.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly4223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly4223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly124.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly124.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly4323.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly4323.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly175.zip
http://cli.fusio.net/cli/climate_data/webdata/hly1723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1732.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1732.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly4823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly4823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1823.zip
http://cli.fusio.net/cli/climate_data/webdata/hly932.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly932.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1923.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1923.zip
http://cli.fusio.net/cli/climate_data/webdata/hly5523.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly5523.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly5580.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly5580.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly5623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly5623.zip
http://cli.fusio.net/cli/climate_data/webdata/hly5680.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly5680.zip
http://cli.fusio.net/cli/climate_data/webdata/hly5723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly5723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly532.zip
http://cli.fusio.net/cli/climate_data/webdata/hly1023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly5823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly5823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2024.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2024.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly5923.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly5923.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly5985.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly5985.zip
http://cli.fusio.net/cli/climate_data/webdata/hly6023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly6023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly6185.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly6185.zip
http://cli.fusio.net/cli/climate_data/webdata/hly6223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly6223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly6323.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly6323.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly324.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly324.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly6423.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly6423.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly6523.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly6523.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2123.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2123.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2124.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2124.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly6623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly6623.zip
http://cli.fusio.net/cli/climate_data/webdata/hly2132.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2132.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly6823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly6823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly6923.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly6923.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly7023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly7023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly7123.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly7123.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly7223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly7223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly7323.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly7323.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly1123.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly1123.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly7423.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly7423.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2232.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2232.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly7523.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly7523.zip
http://cli.fusio.net/cli/climate_data/webdata/hly7623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly7623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly7823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly7823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly7923.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly7923.zip
http://cli.fusio.net/cli/climate_data/webdata/hly8023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly8023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly8223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly8223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly8723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly8723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly9023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly9023.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly332.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly332.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly9223.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly9223.zip
http://cli.fusio.net/cli/climate_data/webdata/hly9423.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly9423.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly9523.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly9523.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly9623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly9623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly9723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly9723.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly623.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly9823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly9823.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/hly2423.zip
No file exists
http://cli.fusio.net/cli/climate_data/webdata/dly2423.zip
No file exists